.container{
background-color: #181818dc ;
margin-left: 500px;
height: 400px;
width: 400px;
border-radius: 10px;
}

.titulo{
  margin-left: 40px;
}
input{
  margin-left: 40px;
}
.container2{
  margin-left: 0px;
}
.container3{
  margin-right: 0px;
  border-color: black;
  
}
.btnCreate{
  margin-left: 50px;
}
ul{
  margin-right: 5px;
}
li{
  margin-left: -50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btnlist{
  margin-left: 10px;
}
.subrayado {
  text-decoration:line-through;
}





